.body_payments{
    margin-top: 10vh;
}

.infomation_payments{
    display: flex;
}

.block_info-payments{
    width: 50%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.block_info-payments .logo{
    width: 35%;
    height: 100%;
}

.input{
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    width: 100%;
    outline: none;
    margin: 1rem 0;
}

.block_info-payments .method_payments{
    padding: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
    cursor: pointer;
}

.block_info-payments .method_payments:last-child{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.block_info-payments .method{
    margin: 1rem;
}

.block_info-payments .method_payments.note_cod,
.block_info-payments .method_payments.note_banking{
    background-color:rgba(0, 0, 0, 0.1);
    display: none;
}

.block_info-payments .accept_payments{
    margin: 1rem 0;
    padding: 1.5rem;
}

.block_cartList{
    padding: 2rem;
    height: 90vh;
    width: 50%;
}

.cartList{
    height: 100%;
}

.cartList .list_cart-item{
    max-height: 69vh;
}

.cartList .cart_item{
    height: 15rem;
}

.discount_code.input{
    width: 80%;
}

.check_code.btn{
    padding: 1.6rem;
    margin: 0;
    width: 19%;
}

.cart_payment .total_price-number{
    font-size:2rem;
}

@media (min-width:768px) and (max-width:1200px){
    .block_cartList{
        height: 51vh;
    }

    .cartList .list_cart-item{
        max-height:33vh;
    }

    .cartList .cart_item-name,
    .cartList .price,
    .cartList .number{
        font-size: 2rem;
    }

    .cartList .cart_item{
        height: 12rem;
    }

    .cartList .times.icon{
        font-size: 2rem;
    }
    .block_info-payments .method_payments{
        padding: 1rem;
    }
}

@media (min-width:768px) and (max-width:1023px){
    .cartList .list_cart-item{
        max-height:40vh;
    }

    .discount_code.input{
        width: 74%;
    }
    
    .check_code.btn{
        width: 25%;
    }
    
    .block_info-payments .method_payments{
        padding: 0.5rem;
    }
}

@media (max-width:767px) {
    .body_payments .row {
        width: 100%;    
    }

    .infomation_payments{
        flex-direction: column-reverse;
    }

    .block_info-payments{
        width: 100%;
    }

    .block_cartList{
        width: 100%;
    }

    .block_info-payments .logo{
        display: none;
    }

    .block_info-payments .infomation_heading{
        font-size: 2rem;
        line-height: 2rem;
        padding: 1rem 0;
        margin: 0;
    }
    
    .block_info-payments .input{
        padding: 1rem;
    }

    .block_info-payments .method_payments{
        padding: 0.5rem;
    }
}

@media (max-width:320px) {
    .block_cartList{
        height: 100vh;
    }
}


