* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

a,button{
    cursor: pointer;
}

html {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    color: #000;
    background-color: white;
}

.btn{
    padding: 0.8rem;
    width: 100%;
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.btn:hover{
    background-color: var(--header-color);
    color: white;
}

.row{
    width:85%;
    margin: 0 auto;
    height: 100%;
}

.heading{
    font-size: 3rem;
    line-height: 3rem;
    font-weight: bold;
    padding: 2rem 0;
}

:root{
    --header-color: #659DBD;
    --text-hover: #FBEEC1;
    --btn-hover: #8D8741;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    50%{
        opacity: 0.5;
        transform: translateY(-50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0)
    }
}