@media (max-width:1200px) {
    .main{
        overflow-x: hidden;
    }
    
    .slider_banner{
        height: 50vh;
    }

    .best_collection-title{
        height: 5vh;
    }

    .video_colection{
        height: 35vh;
    }

    .item_name{
        margin: 0;
    }
    
    .feedback_logo-list{
        height: 50vh;
    }
    
    .best_collection-item--img{
        height: 85%;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    .video_colection{
        height:35vh;
    }
}

@media (max-width:767px) {
    .name_store {
        font-size:1.5rem;
    }

    .sale_title{
        font-size: 2rem;
    }

    .btn_sale{
        font-size: 1.2rem;
        background-color: #fff;
    }

    .main-body .row{
        width: 100%;
    }

    .best_collection-item{
        width: 100%;
    }

    .best_collection-title{
        height: 7vh;
    }
}

@media (max-width:375px) { 
    .main{
        overflow: hidden;
    }

    .video_colection{
        height:34vh;
    }

    .feedback_logo-list{
        height: 40vh;
    }

    .mobile_nav-link{
        width: 89%;
    }

    .mobile.nav_item-search{
        width: 75%;
    }
}