.header{
    position: fixed;   
    top: 0;
    width: 100vw;
    background: var(--header-color);
    z-index: 10;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
    height: 10vh;
}

.header_nav{
    display: flex;
    list-style: none;
    justify-content: space-between;
    height: 100%;
}

.header_nav-item{
    width: 15%;
    height: 100%;
    padding: 0 2rem;
}

.nav_item-logo{
    width:100%;
    height: 100%;
    padding: 0.5rem 2rem;
}

.header_main-nav{
    flex: 1;
    display: flex;
    align-items: center;
}

.menu_mobile{
    display: none;
}

.divitem_nav-link{
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}

.item_nav-link{
    padding: 0 1rem;
    font-size:2rem;
    line-height: 2rem;
    color: #fff;
    font-weight: bold;
}


.item_nav-link:hover{
    color: var(--text-hover);
}

.divitem_nav-link:hover .link_list{
    display: block;
}

.link_list{
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    background-color:#fff;
    width: 150%;
    display: none;
}

.link_list-item{
    width: 100%;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid rgba(200, 200, 200, 0.6);
}

.link_list-item:hover {
    background-color:var(--header-color);
}

.link_list-itemLink{
    font-size: 1.5rem;
    padding: 1rem;
    color: #000;
}

.link_list-itemLink:hover{
    color: #fff;

}

.nav_item-control{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    position: relative;
    font-size:2rem;
    justify-content: right;
}

.nav_item-control i {
    cursor: pointer;
}

.nav_item-search{
    border: none;
    outline: none;
    border-radius: 15px;
    padding-left: 1rem;
    position: absolute;
    height: 2.5rem;
    width: 20rem;
    right: 60%;
    font-size:1.8rem;
    display: none;
}

/*======================= Cart list================================================= */

.cart_main{
    position: relative;
}

.heading_cart-name{
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.cart_list::after{
    content: "";
    background-color:transparent;
    width:20vw;
    height: 3rem;
    top: -3rem;
    right: 0;
    position: absolute;
}

.cart_main:hover .cart_list{
    display: block;
}

.cart_list{
    z-index: 10;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    list-style: none;
    position: absolute;
    top: calc(10vh - 3rem);
    right: -5rem;
    background-color: #fff;
    width: 25vw;
    padding: 1rem;
    max-height: 90vh;
    display:none;
}

.list_cart-item{
    overflow: hidden;
    overflow-y: scroll;
    max-height: 65vh;
}

.cart_item{
    display: flex;
    width: 100%;
    height: 10rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.cart_item:last-child{
    margin-bottom: 0;
    padding: 0;
    border: none;
}

.cart_item-img{
    width: 40%;
    height: 100%;
}

.cart_item-info{
    padding: 0 1rem;
    width: 50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart_item-name {
    font-size:1.8rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 1.8rem;
    margin: 0;
}

.cart_item-color{
    font-size:1.4rem;
}

.cart_item-price{
    display: flex;
    justify-content:space-between;
}

.quantity{
    font-size: 1.5rem;
    margin: 0;
    color: black;
}

.quantity:hover{
    color: black;
}

.quantity .minus,
.quantity .plus{
    font-size:1rem;
    line-height:1rem;
}

.quantity .minus{
    margin-right: 0.5rem;
}

.quantity .plus{
    margin-left: 0.5rem;
}

.price{
    font-size: 1.6rem;
    color: red;
}

.cart_payment{
    width: 100%;
    height: 10vh;
    padding: 0.5rem 0 0;
    margin-top: 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.total_price{
    display: flex;
    justify-content:space-between;
}

.total_price{
    color: red;
}

.payment_controls{
    display: flex;
    justify-content:space-around;
}

.payment{
    padding: 0.8rem;
    width: 100%;
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
}

.payment:hover{
    background-color: var(--header-color);
    color: white;
}



#search,
#cart{
    color: #fff;
    margin-left: 1rem;
}

#search:hover,
#cart:hover{
    color: var(--text-hover);
}

/* =============================================== Response ===================================================== */

@media (min-width: 768px) and (max-width:1200px) {
    .main{
        overflow-x: hidden;
    }
    
    .header{
        height: 5vh;
        width: 100vw;
    }

    .nav_item-logo{
        padding: 0.5rem 0;
    }

    .header_main-nav{
        padding: 0;
        display: flex;
        align-items: center;
    }

    .nav_item-control{
        padding: 0;
        display: flex;
        align-items: center;
    }

    .nav_item-search{
        transform: unset;
        right: 80%;
    }
    
    .nav_item-control{
        position: unset;
    }

    .cart_main{
        position: unset;
    }

    .cart_list{
        max-height:95vh;
        top: 5vh;
        height: 95vh;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 10;
        width: 100vw;
    }

    .heading_cart-name{
        font-size: 3rem;
    }

    .list_cart-item{
        max-height:79vh;
        font-size: 3rem;
    }

    .cart_payment{
        height: auto;
    }

    .cart_item{
        height: 20rem;
        justify-content:space-between;
    }

    .cart_item-name{
        font-size: 3rem;
        line-height: 3rem;
    }

    .cart_item-color{
        font-size:2rem;
    }

    .quantity{
        font-size:3rem;
    }

    .quantity .minus,
    .quantity .plus{
        font-size: 3rem;
        line-height: 2rem;
    }

    .number{
        font-size:4rem;
    }

    .price{
        font-size:4rem;
        line-height:4rem;
    }

    .total,
    .total_price-number{
        font-size:3rem;
        line-height:3rem;
    }

    .payment{
        padding: 1rem;
        font-size:2rem;
    }
}

@media (min-width: 1024px) and (max-width:1200px) {
    .list_cart-item{
        max-height:80vh;
    }

    .payment_controls .payment{
        padding: 2rem;
    }
}

@media (min-width:768px) and (max-width:1023px){
    .nav_item-search{
        width: 15rem;
        right: 110%;
    }
}

@media (max-width:767px) {
    .header_nav{
        align-items: center;
    }

    .header_nav-item{
        width:33.334%;
    }

    .nav_item-logo{
        padding: 0.5rem 0;
    }

    .menu_mobile-list{
        background-color: #fff;
        list-style: none;
        width: 100vw;
        position: fixed;
        left: 0;
        height: 100%;
        top: 10vh;
        display: none;
    }

    .search_click{
        display: none;
    }

    .click_list{
        color: #000;
    }

    .click_list:hover{
        color: grey;
    }
    
    .menu_mobile-item{
        width: 100%;
        padding: 0 2rem;
        margin: 2rem 0;
        -webkit-tap-highlight-color: transparent;
        position: relative;
    }    

    .mobile_nav-link{
        padding: 0 1rem;
        font-size:2rem;
        line-height: 2rem;
        color: #000;
        font-weight: bold;
        display: inline-block;
        width: 90%;
    }
    
    .mobile_nav-link:hover{
        color: grey;
    }

    .mobile_link-list{
        list-style: none;
        display: none;
    }

    .mobile_search #search {
        color: black;
    }

    .mobile.nav_item-search{
        right: 2rem;
        display: block;
        top: -3px;
        width: 80%;
        bottom: 0;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .nav_item-control{
        position: unset;
    }

    .cart_main{
        position: unset;
        padding-left: 50%; 
    }

    .cart_list{
        top: 10vh;
        right: 0;
        left: 0;
        max-height:85vh;
        width: 100vw;
    }

    .total_price{
        height: 3rem;
    }

    .list_cart-item{
        max-height:65vh;
    }

    .menu_mobile{
        display: block;
        font-size:2rem;
        height: 2rem;
        color: #fff;
    }

    .search{
        display: none;
    }

    .menu_mobile:hover{
        color: var(--text-hover);
    }

    .header_main-nav{
        display: none;
    }
}

@media (max-width:375px) { 
    .nav_item-control{
        position: unset;
    }

    .cart_main{
        position: unset;
    }

    .cart_list{
        top: 10vh;
        right: 0;
        left: 0;
    }

    .total_price{
        height:2rem;
    }

    .total_price .total_price-number,
    .total_price .total{
        font-size: 1.5rem;
    }

    .payment_controls .payment{
        font-size: 1rem;
        padding: 0.5rem;
    }
}